{% extends "base.html" %}{% block title %} Bug Report {% endblock %}

{% block content %}
<h1 align="center">Bug Reports</h1>
<img src="static/images/happy-ladybug.74cc4315.png" width="250" align="center">
<ul class="list-group list-group-flush" id="reports">
    {% for report in user.reports %}
    <li class="list-group-item">{{ report.issueDescription }}

    <button type="button" class="close" onClick="deleteReport({{ report.id }})">
        <span aria-hidden="true">&times;</span>
    </button>
    </li>
    <li class="list-group-item">URL: {{ report.url }}</li>
   <!-- <li class="list-group-item">Screenshot: {{ report.screenshot }}</li> -->
<!--    <li class="list-group-item">Status: {{ report.resolution_status }}</li> Once submitted thi field should change to submitted -->
    <li class="list-group-item">Do you have a suggested fix for this issue? {{ report.suggested_fix }}</li>
    {% endfor %}

</ul>
<p>***********</p>
<br/>
    <form method="POST">

        <div class="form-group">
            <label>Please describe the issue you found</label>
            <textarea name="issueDescription" id="issueDescription" class="form-control" placeholder="Describe the issue here."></textarea>
        </div>
        <div class="form-group">
            <label>Suggested Fix</label>
            <textarea name="suggested_fix" id="suggested_fix" class="form-control" placeholder="Enter any ideas or suggestions you have about fixing the issue here."></textarea>
        </div>

        <div class="form-group">
            <label>URL - where did you find this bug?</label>
            <input type="text" name="url" id="url" class="form-control" placeholder="Enter the website where you found this issue">
        </div>

<!--        <div class="form-group"> Coming Soon!-->
<!--            <label>Screenshot - upload a screenshot of the issue</label>-->
<!--            <input type="text" name="screenshot" id="screenshot" class="form-control">-->
<!--        </div>-->

<!--        <div class="form-group"> Coming Soon - after form submission-->
<!--            <label>Status</label>-->
<!--            <input type="text" name="resolution_status" id="resolution_status" class="form-control">-->
<!--        </div>-->

        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit </button>
        </div>
    </form>
{% endblock %}