{% extends "base.html" %}{% block title %} Bug Report {% endblock %}

{% block content %}
<img src="{{url_for('static',filename='happy-ladybug.png')}}" />
<h1 align="center">Bug Reports</h1>
<ul class="list-group list-group-flush" id="reports">
    {% for report in user.reports %}
    <li class="list-group-item">{{ report.issueDescription }}

    <button type="button" class="close" onClick="deleteReport({{ report.id }})">
        <span aria-hidden="true">&times;</span>
    </button>
    </li>
    <li class="list-group-item">URL: {{ report.url }}</li>
    <li class="list-group-item">Screenshot: {{ report.screenshot }}</li>
    <li class="list-group-item">Status: {{ report.resolution_status }}</li>
    <li class="list-group-item">Suggested Fix: {{ report.suggested_fix }}</li>
    <br/>
    <p align="center">***********</p>
    {% endfor %}

</ul>

<br/>
    <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>issueDescription</label>
            <textarea name="issueDescription" id="issueDescription" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Suggested Fix</label>
            <textarea name="suggested_fix" id="suggested_fix" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label>URL - where did you find this bug?</label>
            <input type="text" name="url" id="url" class="form-control">
        </div>

<!--        <div class="form-group">-->
<!--            <label>Screenshot - upload a screenshot of the issue</label>-->
<!--            <input type="text" name="screenshot" id="screenshot" class="form-control">-->
<!--        </div>-->

        <div class="form-group">
            <label>Screenshot - upload a screenshot of the issue</label>
            <input type="file" name="screenshot" id="screenshot" accept=".jpg,.pdf,.png" class="form-control-file">
        </div>

        <div class="form-group">
            <label>Status</label>
            <input type="text" name="resolution_status" id="resolution_status" class="form-control">
        </div>

        <br/>
        <div align="center">
            <button type="submit" class="btn btn-primary">Submit </button>
        </div>
    </form>
{% endblock %}